<template>
  <div>

    <b-card-group deck>
      <b-card class="selectable" @click="$router.push({ name: 'OPHealthConverter' })">
        <div slot="header">
          <h4 class="float-left">OnePlus Health Activity Converter</h4>
          <h4 class="float-right"><font-awesome-icon icon="sync"/></h4>
        </div>
        <b-card-text>
          Convert OnePlus Health sport activites to GPX or TCX files. These may be visualized, synced to third party services (like Google Fit) or imported into third party software.
        </b-card-text>
      </b-card>

      <b-card class="selectable" @click="$router.push({ name: 'Viewer' })">
        <div slot="header">
          <h4 class="float-left">Sport Activity Viewer</h4>
          <h4 class="float-right"><font-awesome-icon icon="map-marked-alt"/></h4>
        </div>
        <b-card-text>
          View GPX, TCX and FIT files in your browser. This provides a map and some simple charts.
        </b-card-text>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>

export default {
  name: 'home',
  data () {
    return {
      amountOfKnowledgeMaps: 0
    }
  }
}
</script>

<style scoped>
  .card-header > div > h4 {
    margin-top: 0.4rem  ;
    margin-bottom: 0;
  }
  .card {
    margin-bottom: 1rem !important;
    min-width: 22rem;
  }
  .card.selectable:hover {
    filter: brightness(98%);
    cursor: pointer !important;
  }
  .card-text {
    text-align: left;
  }
  .badge {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
  .customDisabled > .card-header, .customDisabled > .card-body {
    opacity: 0.5;
  }
</style>
