<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-form-group>
          <template v-slot:label>
            OnePlus Health activity file: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Choose a OnePlus Health activity file. On Smartphones these are located at ~/Android/data/com.oneplus.health.international/sport_record/'"/>
          </template>
          <b-form-file v-model="file" accept="text/plain,application/json" placeholder="Choose a file..." drop-placeholder="Drop a file here..."/>
        </b-form-group>
      </b-col>
    </b-row>

    <hr>

    <b-row v-if="this.jsonData !== undefined">
      <b-col cols="4">
        <h4>{{ this.sportTypeHumanReadable }} Activity</h4>
        <strong>Start:</strong> {{ new Date(this.jsonData.startTime * 1000).toLocaleDateString(undefined, this.dateOptions) }}<br>
        <strong>End:</strong> {{ new Date(this.jsonData.endTime * 1000).toLocaleDateString(undefined, this.dateOptions) }}<br>
        <span v-if="this.duration !== null">
          <strong>Duration:</strong> {{ this.duration.toString("%H h %M min") }}<br>
        </span>
        <div v-if="this.jsonData.totalSteps !== 0">
          <strong>Steps:</strong> {{ this.jsonData.totalSteps }}<br>
        </div>
        <strong>Distance:</strong> {{ (this.jsonData.totalDistance / 1000).toFixed(2) }} km {{(isEmpty(wayPoints)) ? '(approx.)' : ''}}<br>
        <div v-if="!isEmpty(wayPoints)">
          <strong>Average Speed:</strong> {{ (this.jsonData.avgSpeed * 0.06).toFixed(2) }} km/h<br>
        </div>
        <strong>Burned Calories:</strong> {{ this.jsonData.totalCalories }} kCal<br>
        <strong>Average Heartrate:</strong> {{ this.jsonData.avgHeartRate }} BPM<br>
        <div v-if="!isEmpty(wayPoints)">
          <strong>Height:</strong> {{ this.jsonData.totalHeight }} m<br>
        </div>
        <hr>
        <b-button variant="secondary" @click="downloadAsTCX()">Download as TCX File</b-button>
        <b-button variant="secondary" @click="downloadAsGPX()">Download as GPX File</b-button>
        <!-- <b-button variant="primary" @click="view()">View in TCX Viewer</b-button> -->
      </b-col>

      <b-col cols="8">
        <b-card no-body>
          <b-tabs>
            <b-tab card title="Map" active v-if="!isEmpty(wayPoints)">
              <GeoMap :wayPoints="wayPoints" />
            </b-tab>
            <b-tab card title="Heart Rate">
              <HeartRateChart :heartRateBPMArray="heartRateBPMArray"/>
              <HeartRateZoneChart :timeInHeartRateZones="jsonData.extra.hrZone"/>
            </b-tab>
            <b-tab card title="Height" v-if="!isEmpty(wayPoints)">
              <HeightChart :heightArray="heightArray"/>
            </b-tab>
            <b-tab card title="Speed" v-if="!isEmpty(wayPoints)">
              <SpeedChart :speedArray="speedArray"/>
            </b-tab>
            <b-tab card title="Pace" disabled></b-tab>
          </b-tabs>
        </b-card>
      </b-col>

    </b-row>

  </b-container>
</template>

<script>

import { isEmpty, first, last } from 'lodash'
import { saveAs } from 'file-saver'
// import verticalLine from '@/components/verticalLine'
import { convertOPHealthFileToTCX, resolveSportType } from '@/nonUI/OPHealthToTCX'
import { convertOPHealthFileToGPX } from '@/nonUI/OPHealthToGPX'
import { isJSONFile, isTextFile, loadFileContent } from '@/common'
import HeartRateChart from '@/components/heartRateChart'
import HeartRateZoneChart from '@/components/heartRateZoneChart'
import HeightChart from '@/components/heightChart'
import SpeedChart from '@/components/speedChart'
import GeoMap from '@/components/map'
import format from 'xml-formatter'
import * as Duration from 'duration'
import { LTTB } from 'downsample'

export default {
  name: 'OPHealthConverter',
  // components: { verticalLine },
  components: { GeoMap, HeartRateChart, HeartRateZoneChart, HeightChart, SpeedChart },
  data: () => {
    return {
      file: null,
      fileContent: undefined,
      jsonData: undefined,
      dateOptions: { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }
    }
  },
  computed: {
    duration () {
      if (this.jsonData !== undefined) {
        const starttime = new Date(this.jsonData.startTime * 1000)
        const endtime = new Date(this.jsonData.endTime * 1000)
        return new Duration(starttime, endtime)
      } else
        return null
    },
    wayPoints () {
      if (this.jsonData !== undefined && !isEmpty(this.jsonData.gpsData))
        return this.jsonData.gpsData.map(point => [point.latitude, point.longitude])
      else
        return []
    },
    sportTypeHumanReadable () {
      let type = resolveSportType(this.jsonData.sportType)
      if (type === 'Other')
        type = 'Unknown'
      return type
    },
    heartRateBPMArray () {
      if (this.jsonData !== undefined && !isEmpty(this.jsonData.detailData)) {
        const data = this.jsonData.detailData.map(a => [a.timeStamp * 1000, a.heartRate]).filter(a => a[1] !== 0)
        const downsampled = LTTB(data, 300)
        return downsampled.map(a => {
          return { timeStamp: a[0], heartRate: a[1] }
        })
      } else
        return []
    },
    heightArray () {
      if (this.jsonData !== undefined && !isEmpty(this.jsonData.detailData)) {
        const data = this.jsonData.detailData.map(a => [a.timeStamp * 1000, a.elevation / 10])
        const downsampled = LTTB(data, 300)
        return downsampled.map(a => {
          return { timeStamp: a[0], height: a[1] }
        })
      } else
        return []
    },
    speedArray () {
      if (this.jsonData !== undefined && !isEmpty(this.jsonData.detailData)) {
        const data = this.jsonData.gpsData.map(a => [a.timeStamp * 1000, a.speed])
        const downsampled = LTTB(data, 300)
        return downsampled.map(a => {
          return { timeStamp: a[0], speed: a[1] }
        })
      } else
        return []
    },
    fileSizeString () {
      let size = this.file.size
      if (size < 1000)
        return size.toFixed(2) + ' Byte'
      else {
        size /= 1024
        if (size < 1000)
          return size.toFixed(2) + ' KiByte'
        else {
          size /= 1024
          return size.toFixed(2) + ' MiByte'
        }
      }
    }
  },
  watch: {
    file: async function (newVal) {
      if (newVal !== null) {
        if (isTextFile(newVal) || isJSONFile(newVal))
          this.fileContent = await loadFileContent(newVal)
        else {
          this.$swal.fire({ icon: 'error', titleText: 'File format not supported', text: 'The provided file is neither a json nor a txt file. Please provide a valid .json or .txt file.' })
          this.file = null
          this.fileContent = undefined
        }
      }
    },
    fileContent: async function (newVal) {
      if (newVal !== undefined) {
        try {
          this.jsonData = JSON.parse(newVal)
          if (this.jsonData.sportId === undefined || this.jsonData.sportType === undefined)
            throw 'Not a OnePlus Health file' // eslint-disable-line
          else
            this.jsonData.extra = JSON.parse(this.jsonData.extra)
        } catch (e) {
          this.$swal.fire({ icon: 'error', titleText: 'Not a OnePlus Health activity file', text: 'The provided file not a OnePlus Health activity file. ...' })
          this.file = null
          this.fileContent = undefined
          this.jsonData = undefined
        }
      }
    }
  },
  methods: {
    isEmpty: isEmpty,
    first: first,
    last: last,
    async downloadAsTCX () {
      this.$swal.fire({ icon: 'info', titleText: 'Generating TCX file', onBeforeOpen: () => this.$swal.showLoading() })
      let xmlData = await convertOPHealthFileToTCX(this.jsonData)
      xmlData = format(xmlData, { indentation: '  ', collapseContent: true })
      this.$swal.close()
      saveAs(new Blob([xmlData]), this.sportTypeHumanReadable + ' on ' + (new Date(this.jsonData.startTime * 1000).toUTCString()) + '.tcx')
    },
    async downloadAsGPX () {
      this.$swal.fire({ icon: 'info', titleText: 'Generating GPX file', onBeforeOpen: () => this.$swal.showLoading() })
      const xmlData = await convertOPHealthFileToGPX(this.jsonData)
      this.$swal.close()
      saveAs(new Blob([xmlData]), this.sportTypeHumanReadable + ' on ' + (new Date(this.jsonData.startTime * 1000).toUTCString()) + '.gpx')
    },
    async view () {
      this.$swal.fire({ icon: 'info', titleText: 'Generating TCX file', onBeforeOpen: () => this.$swal.showLoading() })
      const xmlData = await convertOPHealthFileToTCX(this.jsonData)
      this.$swal.close()
      this.$router.push({ name: 'Viewer', params: { tcxString: xmlData } })
    }
  }
}

</script>

<style scoped>
  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
  }

  span.spinner-border {
    width: 6rem;
    height: 6rem;
  }

  .col > h4 {
    width: 14rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }

  .col > button {
    margin-left: 0.5rem;
  }
  .col > button:first-child {
    margin-left: 0rem;
  }

  hr {
    margin-top: 0;
  }

  hr:first-of-type {
    margin-top: 1rem;
  }

  h4.offline {
    color: #BB0000;
  }
  .validationReport {
    color: #dc3545;
  }
</style>
