<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-form-group>
          <template v-slot:label>
            Sport activity file: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'...'"/>
          </template>
          <b-form-file v-model="file" accept=".tcx,.fit,.gpx" placeholder="Choose a file..." drop-placeholder="Drop a file here..."/>
        </b-form-group>
      </b-col>
    </b-row>

    <hr>

    <b-row v-if="this.fileContent !== undefined">
      <b-col cols="4">
        <h4>{{ this.fileContent.getActivityTypesAsString() }} on {{ new Date(this.fileContent.startDate).toLocaleDateString(undefined, this.dateOptions)}} </h4>
        <strong>Start of activity:</strong> {{ new Date(this.fileContent.startDate).toLocaleDateString(undefined, this.dateTimeOptions) }}<br>
        <strong>End of activity:</strong> {{ new Date(this.fileContent.endDate).toLocaleDateString(undefined, this.dateTimeOptions) }}<br>
        <!-- <strong>Steps:</strong> {{ this.jsonData.totalSteps }}<br> -->
        <strong>Distance:</strong> {{ (this.fileContent.getDistance().value / 1000).toFixed(2) }} km<br>
        <strong>Duration:</strong> {{ this.fileContent.getDuration().value / 60 }} min<br>
        <strong>Resting Time:</strong> {{ this.fileContent.getPause().value / 60 }} min<br>
        <strong>Moving Time:</strong> {{ (this.fileContent.getStat("Moving time").value / 60).toFixed(2) }} min<br>
        <strong>Average Speed:</strong> {{ (this.fileContent.getStat("Average speed in kilometers per hour").value).toFixed(2) }} km/h<br>
        <strong>Burned Calories:</strong> {{ this.fileContent.getStat("Energy").value }} kCal<br>
        <strong>Average Heartrate:</strong> {{ (this.fileContent.getStat("Average Heart Rate").value).toFixed(2) }} BPM<br>
        <hr>
        <b-button variant="secondary" @click="downloadAsGPX()" style="margin-right: 1rem;">Download as GPX File</b-button>
      </b-col>

      <b-col cols="8">
        <b-card no-body>
          <b-tabs>
            <b-tab card title="Map" active>
              <GeoMap :wayPoints="wayPoints" />
            </b-tab>
            <b-tab card title="Heart Rate">
              <HeartRateChart :heartRateBPMArray="heartRateBPMByTime"/>
              <HeartRateZoneChart/>
            </b-tab>
            <b-tab card title="Height">
              <HeightChart :heightArray="heightByTime"/>
            </b-tab>
            <b-tab card title="Speed">
              <SpeedChart :speedArray="speedByTime"/>
            </b-tab>
            <!-- <b-tab card title="Pace" disabled></b-tab> -->
          </b-tabs>
        </b-card>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>

import { isEmpty } from 'lodash'
import { saveAs } from 'file-saver'
import { isGPXFile, isTCXFile, isFITFile, loadFileContent } from '@/common'
import { SportsLib } from '@sports-alliance/sports-lib'
import { EventExporterGPX } from '@sports-alliance/sports-lib/lib/events/adapters/exporters/exporter.gpx.js'
import HeartRateChart from '@/components/heartRateChart'
import HeartRateZoneChart from '@/components/heartRateZoneChart'
import HeightChart from '@/components/heightChart'
import SpeedChart from '@/components/speedChart'
import GeoMap from '@/components/map'

export default {
  name: 'Viewer',
  components: { GeoMap, HeartRateChart, HeartRateZoneChart, HeightChart, SpeedChart },
  props: {
    tcxString: { type: String, default: undefined }
  },
  data: () => {
    return {
      file: null,
      fileContent: undefined,
      activity: undefined,
      dateOptions: { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' },
      dateTimeOptions: { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }
    }
  },
  async created () {
    if (!isEmpty(this.tcxString)) {
      const xmlDom = (new DOMParser()).parseFromString(this.tcxString, 'application/xml')
      this.fileContent = await SportsLib.importFromTCX(xmlDom)
    }
  },
  computed: {
    wayPoints () {
      if (this.activity !== undefined && !isEmpty(this.activity)) {
        const positions = this.activity.getPositionData().filter(a => a !== null)
        return positions.map(point => [point.latitudeDegrees, point.longitudeDegrees])
      } else
        return []
    },
    heartRateBPMByTime () {
      if (this.activity !== undefined && !isEmpty(this.activity)) {
        const heartRateStream = this.activity.getStreamDataTypesBasedOnTime('Heart Rate')
        return Object.keys(heartRateStream).map(time => {
          return { timeStamp: Number(time), heartRate: heartRateStream[time]['Heart Rate'] }
        })
      } else
        return []
    },
    heightByTime () {
      if (this.activity !== undefined && !isEmpty(this.activity)) {
        const heightStream = this.activity.getStreamDataTypesBasedOnTime('Altitude')
        return Object.keys(heightStream).map(time => {
          return { timeStamp: Number(time), height: heightStream[time].Altitude }
        })
      } else
        return []
    },
    speedByTime () {
      if (this.activity !== undefined && !isEmpty(this.activity)) {
        const speedStream = this.activity.getStreamDataTypesBasedOnTime('Speed')
        return Object.keys(speedStream).map(time => {
          return { timeStamp: Number(time), speed: speedStream[time].Speed }
        })
      } else
        return []
    }
  },
  watch: {
    file: async function (newVal) {
      if (newVal !== null) {
        if (isGPXFile(newVal)) {
          this.fileContent = await SportsLib.importFromGPX(await loadFileContent(newVal))
          this.activity = this.fileContent.getFirstActivity()
        } else if (isTCXFile(newVal)) {
          const xmlDom = (new DOMParser()).parseFromString(await loadFileContent(newVal), 'application/xml')
          this.fileContent = await SportsLib.importFromTCX(xmlDom)
          this.activity = this.fileContent.getFirstActivity()
        } else if (isFITFile(newVal)) {
          this.fileContent = await SportsLib.importFromFIT(Buffer.from(await loadFileContent(newVal)))
          this.activity = this.fileContent.getFirstActivity()
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'File format not supported', text: 'The provided file is not supported by this application. Please provide a valid TCX, GPX or FIT file.' })
          this.file = null
          this.fileContent = undefined
          this.activity = undefined
        }
        console.log(this.fileContent)
      }
    }
  },
  methods: {
    isEmpty: isEmpty,
    async downloadAsGPX () {
      const gpxString = await (new EventExporterGPX().getAsString(this.fileContent))
      saveAs(new Blob([gpxString]), (new Date().toUTCString()) + '.gpx')
    }
  }
}

</script>

<style scoped>
  img {
    width: 100%
  }

  span.spinner-border {
    width: 6rem;
    height: 6rem;
  }

  .col > h4 {
    width: 14rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }

  .col > button {
    margin-left: 0.5rem;
  }
  .col > button:first-child {
    margin-left: 0rem;
  }

  hr {
    margin-top: 0;
  }

  hr:first-of-type {
    margin-top: 1rem;
  }

  h4.offline {
    color: #BB0000;
  }
  .validationReport {
    color: #dc3545;
  }
</style>
