<template>
  <lineChart :chartdata="chartData" :options="chartOptions" :height="150"/>
</template>

<script>

import { isEmpty, first, last } from 'lodash'
import lineChart from '@/components/lineChart'

export default {
  name: 'HeartRateChart',
  components: { lineChart },
  props: {
    heartRateBPMArray: { type: Array, default: () => [] }
  },
  data: () => {
    return {
      chartOptions: {
        scales: {
          xAxes: [
            {
              type: 'time',
              // time: {
              //   unit: 'minute',
              //   displayFormats: {
              //     minute: 'hh:mm'
              //   }
              // },
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'BPM'
              }
            }
          ]
        }
      }
    }
  },
  computed: {
    chartData () {
      if (this.heartRateBPMArray !== undefined && !isEmpty(this.heartRateBPMArray)) {
        return {
          datasets: [{
            label: 'Heartrate',
            borderColor: '#ff5c4e',
            pointRadius: 0,
            fill: false,
            data: this.heartRateBPMArray.map(a => { return { x: a.timeStamp, y: a.heartRate } })
          }]
        }
      } else {
        return null
      }
    }
  },
  watch: {},
  methods: {
    isEmpty: isEmpty,
    first: first,
    last: last
  }
}
</script>

<style scoped>
</style>
