<template>
  <BarChart :chartdata="chartData" :options="chartOptions" :height="150"/>
</template>

<script>

import { isEmpty, first, last } from 'lodash'
import BarChart from '@/components/barChart'

export default {
  name: 'HeartRateChart',
  components: { BarChart },
  props: {
    timeInHeartRateZones: { type: Array, default: () => [1, 1, 1, 1, 1] }
  },
  data: () => {
    return {
      chartOptions: {
        legend: {
          display: false
        },
        scales: {
          xAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'Heartrate Zones'
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'Minutes'
              }
            }
          ]
        }
      }
    }
  },
  computed: {
    chartData () {
      if (this.timeInHeartRateZones !== undefined && !isEmpty(this.timeInHeartRateZones)) {
        return {
          labels: ['Warmup', 'Fat Burning', 'Stamina', 'Anaerobic', 'Threshold'],
          datasets: [{
            data: this.timeInHeartRateZones.map(a => Math.round((a / 60))),
            backgroundColor: [
              '#49d97e',
              '#94dd39',
              '#e5bf3d',
              '#e98e36',
              '#d9553b'
            ]
          }]
        }
      } else {
        return null
      }
    }
  },
  watch: {},
  methods: {
    isEmpty: isEmpty,
    first: first,
    last: last
  }
}
</script>

<style scoped>
</style>
