<template>
  <l-map v-if="!isEmpty(wayPoints)" ref="map" style="height: 500px" @ready="zoom">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-marker :lat-lng="first(wayPoints)">
      <l-icon class-name="someExtraClass">
        <font-awesome-layers class="fa-3x">
          <font-awesome-icon icon="map-marker" />
          <font-awesome-icon icon="play" transform="shrink-9 up-2 right-1" :style="{ color: 'white' }"/>
        </font-awesome-layers>
      </l-icon>
    </l-marker>
    <l-marker :lat-lng="last(wayPoints)" >
      <l-icon class-name="someExtraClass">
        <font-awesome-layers class="fa-3x">
          <font-awesome-icon icon="map-marker" />
          <font-awesome-icon icon="flag-checkered" transform="shrink-9 up-2" :style="{ color: 'white' }"/>
        </font-awesome-layers>
      </l-icon>
    </l-marker>
    <l-polyline ref="line" :lat-lngs="wayPoints" color="#c11441"></l-polyline>
  </l-map>
</template>

<script>

import { isEmpty, first, last } from 'lodash'
import { latLngBounds } from 'leaflet'
import { LMap, LTileLayer, LMarker, LPolyline, LIcon } from 'vue2-leaflet'

export default {
  name: 'Map',
  components: { LMap, LTileLayer, LMarker, LPolyline, LIcon },
  props: {
    wayPoints: { type: Array, default: () => [] }
  },
  data: () => {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution: '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }
  },
  computed: {
    bounds () {
      if (this.wayPoints !== undefined && !isEmpty(this.wayPoints)) {
        const markers = this.wayPoints.slice()
        return latLngBounds([
          first(markers.sort((a, b) => (a[0] > b[0]) ? 1 : 0)),
          first(markers.sort((a, b) => (a[1] > b[1]) ? 0 : 1))
        ])
      } else
        return []
    }
  },
  methods: {
    isEmpty: isEmpty,
    first: first,
    last: last,
    zoom: async function (newVal) {
      if (newVal !== undefined && !isEmpty(newVal)) {
        this.$refs.map.mapObject.fitBounds(this.$refs.line.mapObject.getBounds())
      }
    }
  }
}
</script>

<style scoped>
</style>
