<template>
  <lineChart :chartdata="chartData" :options="chartOptions" :height="150"/>
</template>

<script>

import { isEmpty, first, last } from 'lodash'
import lineChart from '@/components/lineChart'

export default {
  name: 'SpeedChart',
  components: { lineChart },
  props: {
    speedArray: { type: Array, default: () => [] }
  },
  data: () => {
    return {
      chartOptions: {
        scales: {
          xAxes: [
            {
              type: 'time',
              // time: {
              //   unit: 'minute',
              //   displayFormats: {
              //     minute: 'hh:mm'
              //   }
              // },
              scaleLabel: {
                display: true,
                labelString: 'Time'
              }
            }
          ],
          yAxes: [
            {
              scaleLabel: {
                display: true,
                labelString: 'Speed in km/h'
              }
            }
          ]
        }
      }
    }
  },
  computed: {
    chartData () {
      if (this.speedArray !== undefined && !isEmpty(this.speedArray)) {
        return {
          datasets: [{
            label: 'Speed',
            borderColor: '#63e15a',
            pointRadius: 0,
            fill: false,
            data: this.speedArray.map(a => { return { x: a.timeStamp, y: a.speed * 3.6 } })
          }]
        }
      } else {
        return null
      }
    }
  },
  watch: {},
  methods: {
    isEmpty: isEmpty,
    first: first,
    last: last
  }
}
</script>

<style scoped>
</style>
