<template>
  <div>
    <div class="line"/>
    <div class="wordwrapper">
      <div class="word">or</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'verticalLine'
}
</script>

<style scoped>
  .line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #666;
    z-index: 1;
  }

  .wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 53%;
    margin-top: -12px;
    z-index: 2;
  }

  .word {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
  }
</style>
